*.class
*~
*#
*.iml
.idea/
.classpath
.project
.settings/

# Package Files #
*.jar
*.war
*.ear

# Build Files #
target/

#Weird mac file
.DS_Store

#Don't want to check all of wikipedia in
data/
out*
