body {
  background-color: #000;
}

.jumbotron {
  border-radius: 0;
}

#graph {
  text-align: center;
}

.link {
  stroke: #888;
}

.d3tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
