<div class="container">
  <div class="query-field">
    <form ng-submit="refresh()">
      <div class="input-group">
        <input id="input-page" class="form-control input-large" type="text" placeholder="Page to query" ng-model="form.page">
        <span class="input-group-btn">
          <button id="btn-refresh" class="btn btn-primary btn-large">
            Run
          </button>
        </span>
      </div>
      <br>
      <div class="input-group col-lg-3">
        <span class="input-group-addon">Max Depth</span>
        <input class="form-control" type="number" ng-model="form.maxDepth" ng-value="5">
      </div>
      <div class="input-group col-lg-3">
        <span class="input-group-addon">Max Degree</span>
        <input class="form-control" type="number" ng-model="form.maxDegree" ng-value="20">
      </div>
      <div class="input-group col-lg-3">
        <span class="input-group-addon">Max Articles</span>
        <input class="form-control" type="number" ng-model="form.maxArticles" ng-value="100">
      </div>
    </form>
  </div>

  <div class="" id="content" ng-show="data.basePage">
    <!--
    <div class="panel-heading">
      <h3 id="content-heading" ng-show="data.basePage">
        <a href="http://en.wikipedia.org/w/index.php?title={{ data.basePage | urlencode }}">{{ data.basePage }}</a>
        -
        <a href="http://en.wikipedia.org/w/index.php?title={{ data.basePage | urlencode }}&action=raw">Raw</a>
      </h3>
    </div>
    -->
    <div id="content-body" ng-show="data.graph.children.length || data.failure || data.loading">
      <h3 class="text-center" ng-show="data.failure">That page does not exist.</h3>
      <h3 class="text-center" ng-show="data.loading"><i class="icon-refresh icon-spin"></i></h3>
      <div id="graph"></div>

<!--       <table class="table table-bordered table-hover table-condensed">
        <tr ng-repeat="link in data.links track by $index">
          <td>
            <a href="http://en.wikipedia.org/w/index.php?title={{ link | urlencode }}">
              {{ link }}
            </a>
          </td>
          <td>
            <a href="http://en.wikipedia.org/w/index.php?title={{ link | urlencode }}&action=raw">
              Raw
            </a>
          </td>
          <td>
            <a href="/#/{{ link | urlencode}}/">
              Graph
            </a>
          </td>
        </tr>
      </table>
 -->    </div>
  </div>
</div>
